-r requirements.txt

# -- Code Quality (linting & formatting) -------------------------------------

black==24.4.2                           # Code formatter
isort==5.13.2                           # Import sorter
flake8==7.0.0                           # Linter
pre-commit==3.7.1                       # Git pre-commit hooks


# -- Testing -----------------------------------------------------------------

pytest==8.3.4                           # Test runner
pytest-django==4.9.0                    # Django integration for pytest
pytest-cov==6.0.0                       # Coverage plugin for pytest
coverage==7.6.9                         # Code coverage measurement
factory-boy==3.3.1                      # Test data factories
mutmut==2.5.1                           # Mutation testing


# -- Data processing (used for db seeding commands like initdb / demo) -------

pandas==2.2.3
sqlalchemy==2.0.36
